<head>
    <meta charset="UTF-8">
    <title>Aplikasi Presensi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
</head>
<body>
<div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Aplikasi Presensi</h2>
                <h5 class="text-white op-7 mb-2">Selamat Datang, <b class="text-warning">{{ data[2] }}</b></h5>
            </div>
        </div>
    </div>
</div>
<div class="page-inner mt--5">
    <div class="row mt--2">
        <div class="col-md-6">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">
                        <center>
                            <img src="{{ url_for('static', filename='img/logo1.png') }}" width="100">
                            <br>
                            <b>SMA NEGERI 19 BANDUNG</b>
                        </center>
                    </div>
                    <div class="card-category">
                        <center>
                            jl. Winong - Pucakwangi Km 01 Kec. Winong Kab. Pati Kode Pos 59181
                            <br>Email : mtsnegeripati@gmail.com Telp.081222333444
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-pills-icons justify-content-center" id="pills-tab-with-icon" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="pills-home-tab-icon" data-toggle="pill" href="#pills-home-icon" role="tab" aria-controls="pills-home-icon" aria-selected="true">
                                <i class="fas fa-clipboard-list"></i>
                                Absen
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab-icon" data-toggle="pill" href="#pills-profile-icon" role="tab" aria-controls="pills-profile-icon" aria-selected="false">
                                <i class="fas fa-list-alt"></i>
                                Rekap
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab-icon" data-toggle="pill" href="#pills-contact-icon" role="tab" aria-controls="pills-contact-icon" aria-selected="false">
                                <i class="fas fa-user-astronaut"></i>
                                About
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content mt-2 mb-3" id="pills-with-icon-tabContent">
                        <div class="tab-pane fade" id="pills-home-icon" role="tabpanel" aria-labelledby="pills-home-tab-icon">
                            <p>
                                <ul class="list-group">
                                {% for dm in mengajar %}
                                    <li class="list-group-item">
                                        <a class="btn btn-primary btn-block text-left" href="{{ url_for('absen_page', pelajaran=dm[0]) }}">
                                            <i class="fas fa-chevron-circle-right"></i>
                                            <span class="sub-item">{{ dm[1].upper() }} ({{ dm[2].upper() }})</span>
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="pills-profile-icon" role="tabpanel" aria-labelledby="pills-profile-tab-icon">
                            <p>
                                <ul class="list-group">
                                {% for dm in mengajar %}
                                    <li class="list-group-item">
                                        <a class="btn btn-secondary btn-block text-left" href="{{ url_for('rekap_page', pelajaran=dm[0]) }}">
                                            <i class="fas fa-chevron-circle-right"></i>
                                            <span class="sub-item">{{ dm[1].upper() }} ({{ dm[2].upper() }})</span>
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="pills-contact-icon" role="tabpanel" aria-labelledby="pills-contact-tab-icon">
                            <p>
                                <hr>
                                Aplikasi Absensi siswa ini dibuat untuk mendokumentasikan kehadiran siswa, Aplikasi sangat Mudah digunakan (Berbasis Web)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Additional content can go here -->
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/fontawesome.min.js') }}"></script>
