<!-- Sidebar -->
<div class="sidebar sidebar-style-2">            
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="{{ url_for('static', filename='assets/img/user/placeholder.jpg') }}" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    {% if data %}
                        <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                            <span>
                                {{ data[2] }} <!-- Ini adalah nama guru -->
                                <span class="user-level">{{ data[1] }}</span> <!-- Ini adalah NIP guru -->
                                <span class="caret"></span>
                            </span>                                
                        </a>
                        <div class="clearfix"></div>

                        <div class="collapse in" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <a href="?page=akun">
                                        <span class="link-collapse">Akun Saya</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <ul class="nav nav-primary">
                <li class="nav-item active">
                    <a href="index.html" class="collapsed">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>                            
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Main Utama</h4>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('jadwal_mengajar') }}">
                        <i class="fas fa-clipboard-check"></i>
                        <p>Jadwal Mengajar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#sidebarLayouts">
                        <i class="fas fa-clipboard-list"></i>
                        <p>Presensi</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sidebarLayouts">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="?page=absen&pelajaran=1">
                                    <span class="sub-item">KELAS (Nama Kelas)</span>
                                </a>
                            </li>
                            <!-- Contoh lainnya disesuaikan dengan data -->
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#rekapAbsen">
                        <i class="fas fa-list-alt"></i>
                        <p>Rekap Absen</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="rekapAbsen">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="?page=rekap&pelajaran=1">
                                    <span class="sub-item">KELAS (Nama Kelas)</span>
                                </a>
                            </li>
                            <!-- Contoh lainnya disesuaikan dengan data -->
                        </ul>
                    </div>
                </li>
                <li class="nav-item active mt-3">
                    <a href="logout.html" class="collapsed">
                        <i class="fas fa-arrow-alt-circle-left"></i>
                        <p>Logout</p>
                    </a>                            
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->
